<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-baidu-push" version="1.0.0">
    <name>baidu-push</name>
    <description>百度推送 Cordova 插件</description>
    <license>MIT</license>

    <preference name="BAIDU_PUSH_IOS_API_KEY"/>

    <js-module src="www/baidu-push.js" name="baidu-push">
        <clobbers target="BaiduPush"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BaiduPush">
                <param name="ios-package" value="BaiduPush"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="BAIDU_PUSH_IOS_API_KEY" value="$BAIDU_PUSH_IOS_API_KEY"/>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-*.plist">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/BaiduPush.h"/>
        <source-file src="src/ios/BaiduPush.m"/>
        <header-file src="src/ios/AppDelegate+BaiduPush.h"/>
        <source-file src="src/ios/AppDelegate+BaiduPush.m"/>
        <header-file src="src/ios/BPush.h"/>
        <source-file src="src/ios/libBPush.a" framework="true"/>

        <resource-file src="libs/ios/BPushCerResource.bundle"/>

        <framework src="Foundation.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="libz.dylib"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="CoreLocation.framework"/>
    </platform>
</plugin>
